.heading{
    text-align: center;
}
body{
    background: gray;
    font-family: 'Open Sans', sans-serif;
    

}
.heading{
    font-family: 'Merriweather', serif;
}
button{
    margin-bottom: 15px; border-radius: 5px;
}
#cy {
    width: 85%;
    height: 90%;
    position:absolute;
    margin-top:30px;
    border: 3px solid blueviolet;

}

#demoButton{
    background-color:#10eccf;
    margin-bottom: 15px; border-radius: 5px;
}

#loginstyle{
    background: linear-gradient(70deg,#0fefa9 45%,#0feeef 50%);
    border-radius: 30px;
}
#searchstyle{
    margin-top: 10px;
}

#cyndexstyle{
    background: linear-gradient(70deg,#fdcd3b 45%,#ffed4b 50%);
    
    border-radius: 30px;
    
}

#viewstyle{
    background: linear-gradient(70deg,#fa7c30 45%,#ffaa77 50%);
    border-radius: 30px;
}

#tablestyle{
    background: linear-gradient(70deg,#ff6464 45%,#5ac8fa 50%);
    border-radius: 30px;
}

#layoutstyle{
    background: linear-gradient(70deg,#9934cc 45%,#c03fff 50%);
    border-radius: 30px;
}

#visualstyle{
    background: linear-gradient(70deg,#fff810 45%,#63e893 50%);
    border-radius: 30px;
}

#analyzestyle{
    background: linear-gradient(70deg,#ff7ee3  45%,#bd13d2 50%);
    border-radius: 30px;
}

#plotstyle{
    background: linear-gradient(70deg,#faba71 45%,#eb5c1f 50%);
    border-radius: 30px;
}

#filterstyle{
    background: linear-gradient(70deg,#25c2ab 45%,#0a9cee 50%);
    border-radius: 30px;
    margin-bottom: 40px;
}
#demobox{
    background: #f32a2a;
    border-radius: 30px;
    margin-top: 10px;
}
.optionSelect{
    background-color: blue;
}

.networkscroll{
    display: flex;
    flex-wrap:row wrap;
    overflow-x: auto;
    margin-right: 15px;
}
.networkscroll > .row{
    flex:0 0 auto;
}

.nodescroll{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-right: 15px;
}
.nodescroll > .row{
    flex:0 0 auto;
}
.edgescroll{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-right: 15px;
}
.edgescroll > .row{
    flex:0 0 auto;
}

#fullmerge{
    display: none;
}

#merge{
    background-color:#478ba2;
    border-radius: 30px;
    margin-bottom: 40px;
    margin-top: 40px;
}

#finalNetmapCol{
    background-color: #faddaf ; 
}

#finalNodeCol{
    background-color: #f5be65;   
}

#finalNodemapCol{
    background-color: #fab444;   
}
#finalEdgeCol{
    background-color: #f3a629;   
    flex:0 0 auto;
}

#finalEdgemapCol{
    background-color:  #fc9d06;   
    flex:0 0 auto;
}

select{    
    
    margin-bottom: 10px;
    margin-left: 5px;
}

#Select{
    background: linear-gradient(70deg,#ffdde1 45%,#ee9ca7 50%);
    border-radius: 30px;
    margin-bottom: 40px;
    
}

.mergebutton{
    background-color: rgb(244, 248, 7);
}

hr{
    border: 1px solid black;
}